/************* 
RESET 
**************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --first-color: #0084fd;
    --secondary-color: #b5ddff;
    --third-color: #9792e4;
}

/************* 
COMMON
**************/
.flex{
    display: flex;
}

.container{
    margin: 0 2rem;
    padding: 1rem 0;
}

.j-c-between{
    justify-content: space-between;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    width: 100%;
    display: block;
}

/************* 
BUTTON
**************/
.btn{
    background-color: var(--first-color);
    text-decoration: none;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.store{
    padding: 13px 100px;
    border-radius: 25px;
    font-size: 17px;
}


/************* 
HEADER
**************/

header{
    background-color: var(--first-color);
}

header .header-nav{
    display: none;
    align-self: center;
}

ul li{
    list-style: none;
}

nav ul{
    gap: .9375rem;
    vertical-align: bottom;
}

.menu{
    font-size: 30px;
    color: #fff;
    vertical-align: bottom;
}

ul a{
    color: white;
    text-decoration: none;
}

/************* 
MAIN-SECTION 1
**************/
.row{
    flex-direction: column;
}

.col-uno{
    padding: 45px 45px 0 45px;
}
.col, .col-uno{
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 25px;
    margin-top: 25px;
}

.col{
    padding: 45px;
}

.text-application{
    line-height: 30px;
    margin: 30px 0
}

#img-phone{
   padding-top: 25px;
}
/************* 
MAIN-SECTION 2
**************/
.planning{
    background-color: var(--third-color);
    flex-direction: column;
    margin: 50px 0;
}

.img-planning-uno{
    width: 80%;
    margin: 0 auto;
}

.box-planning{
    margin: 50px 30px;
    color: #fff;
    line-height: 27px;
}

#title-planning{
    margin-bottom: 40px;
    font-size: 2.1875rem;
}

.box-planning-due{
    background-color: #fff;
    color: black;
    margin: 50px 25px;
    border-radius: 30px;
    padding: 25px;
    text-align: center;
}

.title-box-planning{
    padding: 10px 0;
}
.col-planning{
    margin-top: 70px;
}


/************* 
Tablet Version
**************/
@media screen and (min-width: 768px) {
    .col-uno{
        width: calc((100% / 3) * 2);
    }
    .col{
        width: calc(100% / 3 - 10px);
        text-align: center;
    }
    .mini-col-due{
        padding-top: 10px;
    }
    #img-phone{
        width: 65%;
    }
    .row{
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: row;
    }
    .text-application{
        font-size: .875rem;
        line-height: 1.5625rem;
    }

}



/************* 
Desktop Version
**************/

@media screen and (min-width: 992px) {
    header .header-nav{
        display: block;
    }
    .menu{
        display: none;
    }  
    .col-uno{
        display: flex;
    }
    #img-phone{
        width: 100%;
    }
    .planning{
        flex-direction: row;
        margin: 0 auto;
        padding: 0 10%;
    }
    .box-planning-due{
        margin-top: 100px;
    }
    .col-planning{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

